.evt-input {
    font-size: 1em;
}

.form-group {
    label {
        margin-right: 1em;
    }
}

.evt-main-nav {
    a.active {
        border-bottom: 3px solid blue;
    }
}

.form-controls {
    text-align: right;
    button {
        margin-left: 1em;
        &:first-child {
            margin-left: 0;
        }
    }
}


