$colorPrimary: cornflowerblue;

.new-post {
    .evt-file-input {
        display: flex;
    }

    .pending-file-placeholder, .pending-file-preview {
        margin-right: 1em;
    }

    form {
        width: 50%;
    }
}

#content.drag::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(248,40,59,0.3);
    border: 5px #f8283b dashed;
}

.post-caption-input {
    width: 100%;
    box-sizing: border-box;
    resize: none;
    border-radius: $borderRadius;
    border-color: gray;
    background-color: whitesmoke;
    font-size: 1em;
    padding: 0.25em 0.5em;

    &:focus {
        border-color: $colorPrimary;
        outline-width: 2px;
        background-color: lighten(whitesmoke, 2%);
    }
}

.pending-file-placeholder {
    height: 300px;
    background-color: lightgray;
    margin-bottom: 0.5em;
    width: 50%;
}

.pending-file-preview {
    width: 50%;
    height: 300px;
    text-align: center;
    background-color: gray;
    padding: 0.5em;
    box-sizing: border-box;

    .buffer-image {
        display: inline-block;
        height: 100%;
        img {

            // width: 100%;
            // height: 100%;
        }
    }
}



