// @import "../../node_modules/\@uppy/core/dist/style";
// @import "../../node_modules/\@uppy/file-input/dist/style";
// @import "../../node_modules/\@uppy/dashboard/dist/style";

body {
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.main-feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .evt-message {
        width: 20%;
        border: 1px solid black;
        padding: 1em;
        margin-bottom: 1em;
    }
}

nav {
    margin-bottom: 1em;

    a {
        margin-right: 1em;
    }
}

// forms
.form-group {
    margin-bottom: 1em;
}

