// @import "../../node_modules/\@uppy/core/dist/style";
// @import "../../node_modules/\@uppy/file-input/dist/style";
// @import "../../node_modules/\@uppy/dashboard/dist/style";

$borderRadius: 3px;

@import "./_route-new";

button {
    cursor: pointer;
    &:disabled {
        cursor: not-allowed;
    }
}

.form-controls {
    text-align: right;
}

body {
    font-family: "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.main-feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .evt-message {
        width: 20%;
        border: 1px solid black;
        padding: 1em;
        margin-bottom: 1em;
    }

    .post-media {
        a {
            display: block;
        }
    }
}

nav {
    margin-bottom: 1em;

    a {
        margin-right: 1em;
    }
}

// forms
.form-group {
    margin-bottom: 1em;
}


// ---------- components ----------------
.bg-image {
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}
// --------------------------------------



